@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjiev2rw.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 704px;
    flex-direction: column
  }
  .style71 {
    color: #696969;
    font-family: zurichbt,serif;
    font-size: .25390625em;
    margin-left: 8px;
    margin-top: 5px;
    height: 5px
  }
  .style70 {
    color: #fff;
    font-family: georgia,serif;
    font-size: .76171875em;
    margin-left: 7px;
    margin-top: 12px;
    height: 10px
  }
  .image0row2 {
    display: flex;
    margin-left: 129px;
    margin-top: 0;
    width: 238px;
    height: 3px;
    align-items: stretch
  }
  .style58,
  .style60,
  .style62,
  .style64,
  .style66,
  .style68 {
    color: #7c9c37;
    font-family: georgia,serif;
    font-size: .25390625em;
    margin-left: 0
  }
  .style58,
  .style60,
  .style62,
  .style64,
  .style66 {
    color: #fff;
    margin-left: 15px
  }
  .style58,
  .style60 {
    margin-left: 16px
  }
  .style58 {
    margin-left: 20px
  }
  .image0row3 {
    display: flex;
    margin-top: 2px;
    width: 358px;
    height: 5px;
    align-items: stretch;
    align-self: center
  }
  .style69 {
    color: #fff;
    font-family: georgia,serif;
    font-size: .25390625em;
    margin-left: 0
  }
  .style57,
  .style59,
  .style61,
  .style63,
  .style65,
  .style67 {
    color: #ccc;
    font-family: arialmt,serif;
    font-size: .25390625em;
    margin-left: 63px
  }
  .style57,
  .style59,
  .style61,
  .style63,
  .style65 {
    margin-left: 16px
  }
  .style57,
  .style59,
  .style61,
  .style63 {
    margin-left: 19px
  }
  .style57,
  .style59,
  .style61 {
    margin-left: 18px
  }
  .style57,
  .style59 {
    margin-left: 15px
  }
  .style55,
  .style56 {
    text-align: center;
    font-family: georgia,serif;
    align-self: center
  }
  .style56 {
    height: 12px;
    color: #fff;
    font-size: .72265625em;
    margin-top: 75px
  }
  .style55 {
    color: #333;
    font-size: .60546875em;
    line-height: 16px;
    font-style: italic;
    margin-top: 83px;
    width: 341px
  }
  .image0row6 {
    display: flex;
    margin-top: 62px;
    width: 311px;
    height: 5px;
    align-items: stretch;
    align-self: center;
    justify-content: space-between
  }
  .style45,
  .style48,
  .style51,
  .style54 {
    color: #fff;
    text-align: center;
    font-family: georgia,serif;
    font-size: .390625em
  }
  .image0row7 {
    display: flex;
    margin-left: 13px;
    margin-top: 31px;
    width: 334px;
    height: 5px;
    align-items: stretch;
    justify-content: space-between
  }
  .style44,
  .style47,
  .style50,
  .style53 {
    color: #7c9c37;
    font-family: georgia,serif;
    font-size: .390625em
  }
  .image0row8 {
    display: flex;
    margin-top: 8px;
    width: 348px;
    height: 19px;
    align-items: stretch;
    align-self: center;
    justify-content: space-between
  }
  .style43,
  .style46,
  .style49,
  .style52 {
    color: #666;
    font-family: georgia,serif;
    font-size: .25390625em;
    line-height: 8px;
    width: 72px
  }
  .image0row9 {
    display: flex;
    margin-top: 46px;
    width: 360px;
    height: 7px;
    align-items: stretch;
    align-self: center
  }
  .style27,
  .style28,
  .style41,
  .style42 {
    color: #666;
    font-family: georgia,serif;
    font-size: .390625em;
    margin-left: 0
  }
  .style27,
  .style28,
  .style41 {
    color: #7b9b37;
    font-size: .29296875em;
    margin-left: 88px
  }
  .style27,
  .style28 {
    color: #666;
    font-size: .390625em;
    margin-left: 8px
  }
  .style27 {
    color: #7b9b37;
    font-size: .29296875em;
    margin-left: 88px
  }
  .image0row10 {
    position: relative;
    display: flex;
    margin-left: 11px;
    margin-top: 12px;
    width: 165px;
    height: 16px
  }
  .style40 {
    color: #fff;
    text-align: center;
    font-family: georgia,serif;
    font-size: .25390625em;
    line-height: 7px;
    position: relative;
    margin-left: 0;
    width: 11px;
    flex-shrink: 0
  }
  .style39 {
    color: #7c9c37;
    font-size: .3125em;
    font-weight: 500;
    margin-left: 9px;
    height: 4px
  }
  .style36,
  .style37,
  .style39 {
    font-family: georgia,serif;
    flex-shrink: 0
  }
  .style37 {
    text-align: center;
    line-height: 7px;
    position: relative;
    width: 11px;
    color: #fff;
    font-size: .25390625em;
    margin-left: 92px
  }
  .style36 {
    color: #7c9c37;
    font-size: .3125em;
    font-weight: 500;
    margin-left: 9px;
    height: 4px
  }
  .image0row11 {
    position: relative;
    display: flex;
    margin-left: 32px;
    margin-top: 0;
    width: 304px;
    height: 36px
  }
  .style38 {
    color: #666;
    font-size: .29296875em;
    line-height: 9px;
    margin-left: 0;
    width: 58px;
    align-self: stretch
  }
  .style23,
  .style26,
  .style35,
  .style38 {
    font-family: georgia,serif;
    flex-shrink: 0
  }
  .style35 {
    line-height: 9px;
    width: 58px;
    align-self: stretch;
    color: #666;
    font-size: .29296875em;
    margin-left: 34px
  }
  .style23,
  .style26 {
    color: #fff;
    font-size: 2.71484375em;
    font-weight: 500;
    position: relative;
    margin-left: 44px;
    margin-top: 17px;
    height: 35px
  }
  .style23 {
    margin-left: 73px
  }
  .image0row12 {
    position: relative;
    display: flex;
    margin-left: 11px;
    margin-top: 11px;
    width: 165px;
    height: 16px
  }
  .style34 {
    color: #fff;
    text-align: center;
    font-family: georgia,serif;
    font-size: .25390625em;
    line-height: 7px;
    position: relative;
    margin-left: 0;
    width: 11px;
    flex-shrink: 0
  }
  .style33 {
    color: #7c9c37;
    font-size: .3125em;
    font-weight: 500;
    margin-left: 9px;
    height: 4px
  }
  .style30,
  .style31,
  .style33 {
    font-family: georgia,serif;
    flex-shrink: 0
  }
  .style31 {
    text-align: center;
    line-height: 7px;
    position: relative;
    width: 11px;
    color: #fff;
    font-size: .25390625em;
    margin-left: 92px
  }
  .style30 {
    color: #7c9c37;
    font-size: .3125em;
    font-weight: 500;
    margin-left: 9px;
    height: 4px
  }
  .image0row13 {
    position: relative;
    display: flex;
    margin-left: 32px;
    margin-top: 0;
    width: 292px;
    height: 36px;
    align-items: flex-end
  }
  .style29,
  .style32 {
    color: #666;
    font-family: georgia,serif;
    font-size: .29296875em;
    line-height: 9px;
    margin-left: 0;
    width: 58px
  }
  .style29 {
    margin-left: 34px
  }
  .image0row13column2 {
    display: flex;
    margin-left: 11px;
    width: 40px;
    height: 13px;
    flex-direction: column
  }
  .style24,
  .style25 {
    font-family: georgia,serif;
    font-size: .29296875em;
    height: 4px
  }
  .style25 {
    font-weight: 500;
    color: #666;
    margin-top: 0
  }
  .style24 {
    color: #7b9b37;
    margin-top: 5px
  }
  .image0row13column3 {
    display: flex;
    margin-left: 52px;
    width: 40px;
    height: 13px;
    flex-direction: column
  }
  .style21,
  .style22 {
    font-family: georgia,serif;
    font-size: .29296875em;
    height: 4px
  }
  .style22 {
    font-weight: 500;
    color: #666;
    margin-top: 0
  }
  .style21 {
    color: #7b9b37;
    margin-top: 5px
  }
  .image0row14 {
    display: flex;
    margin-left: 8px;
    margin-top: 32px;
    width: 309px;
    height: 3px;
    align-items: stretch
  }
  .style13,
  .style16,
  .style20,
  .style8 {
    color: #666;
    font-family: georgia,serif;
    font-size: .25390625em;
    font-weight: 500;
    margin-left: 0
  }
  .style13,
  .style16,
  .style8 {
    margin-left: 66px
  }
  .style13,
  .style8 {
    margin-left: 61px
  }
  .style8 {
    margin-left: 50px
  }
  .image0row15 {
    display: flex;
    margin-left: 8px;
    margin-top: 9px;
    width: 346px;
    height: 87px
  }
  .style19 {
    color: #f8f8f8;
    font-family: georgia,serif;
    font-size: .3515625em;
    font-weight: 500;
    margin-left: 28px;
    margin-top: 17px;
    height: 5px
  }
  .image0row15column0 {
    display: flex;
    margin-left: 0;
    width: 77px;
    height: 71px;
    align-self: flex-end;
    flex-direction: column
  }
  .style18 {
    color: #666;
    line-height: 8px;
    margin-top: 28px;
    width: 100%
  }
  .style14,
  .style15,
  .style17,
  .style18 {
    font-family: georgia,serif;
    font-size: .25390625em
  }
  .style17 {
    margin-top: 5px;
    height: 4px;
    color: #7c9c37
  }
  .style14,
  .style15 {
    color: #666;
    line-height: 10px;
    margin-left: 15px;
    width: 2px;
    align-self: stretch
  }
  .style14 {
    color: #7c9c37;
    margin-left: 4px;
    width: 63px
  }
  .image0row15column3 {
    display: flex;
    margin-left: 24px;
    width: 83px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style12 {
    color: #666;
    font-family: georgia,serif;
    font-size: .3125em;
    font-weight: 500;
    line-height: 9px;
    margin-top: 0;
    width: 100%
  }
  .style11 {
    color: #7c9c37;
    font-size: .25390625em;
    margin-top: 3px;
    height: 4px
  }
  .style10,
  .style11,
  .style9 {
    font-family: georgia,serif
  }
  .style10 {
    font-weight: 500;
    line-height: 9px;
    width: 100%;
    color: #666;
    font-size: .3125em;
    margin-top: 9px
  }
  .style9 {
    color: #7c9c37;
    font-size: .25390625em;
    margin-top: 3px;
    height: 4px
  }
  .image0row15column4 {
    display: flex;
    margin-left: 9px;
    width: 71px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style6,
  .style7 {
    color: #666;
    font-size: .25390625em
  }
  .style7 {
    line-height: 8px;
    width: 100%;
    align-self: stretch;
    font-family: zurichbt,serif;
    margin-top: 0
  }
  .style6 {
    font-family: georgia,serif;
    font-weight: 500;
    margin-top: 16px;
    height: 3px
  }
  .style3,
  .style4,
  .style5 {
    color: #807d77;
    font-family: arial,serif;
    font-size: .29296875em;
    font-weight: 700;
    margin-left: 4px;
    margin-top: 13px;
    height: 4px
  }
  .style3,
  .style4 {
    margin-top: 12px
  }
  .style3 {
    color: #fff;
    font-family: georgia,serif;
    font-weight: 500
  }
  .image0row16 {
    display: flex;
    margin-top: 24px;
    width: 360px;
    height: 5px;
    align-items: stretch;
    align-self: center
  }
  .style1,
  .style2 {
    color: #666;
    font-family: georgia,serif;
    font-size: .25390625em;
    margin-left: 0
  }
  .style1 {
    margin-left: 182px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjiev2rw.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 1441px;
    flex-direction: column
  }
  .style71 {
    color: #696969;
    font-family: zurichbt,serif;
    font-size: .52em;
    margin-left: 15px;
    margin-top: 10px;
    height: 10px
  }
  .style70 {
    color: #fff;
    font-family: georgia,serif;
    font-size: 1.56em;
    margin-left: 14px;
    margin-top: 24px;
    height: 20px
  }
  .image0row2 {
    display: flex;
    margin-left: 265px;
    margin-top: 0;
    width: 488px;
    height: 7px;
    align-items: stretch
  }
  .style68 {
    color: #7c9c37;
    font-family: georgia,serif;
    font-size: .52em;
    margin-left: 0
  }
  .style58,
  .style60,
  .style62,
  .style64,
  .style66 {
    color: #fff;
    font-family: georgia,serif;
    font-size: .52em;
    margin-left: 31px
  }
  .style58,
  .style60 {
    margin-left: 32px
  }
  .style58 {
    margin-left: 42px
  }
  .image0row3 {
    display: flex;
    margin-top: 3px;
    width: 734px;
    height: 10px;
    align-items: stretch;
    align-self: center
  }
  .style69 {
    color: #fff;
    font-family: georgia,serif;
    font-size: .52em;
    margin-left: 0
  }
  .style57,
  .style59,
  .style61,
  .style63,
  .style65,
  .style67 {
    color: #ccc;
    font-family: arialmt,serif;
    font-size: .52em;
    margin-left: 130px
  }
  .style57,
  .style59,
  .style61,
  .style63,
  .style65 {
    margin-left: 33px
  }
  .style57,
  .style59,
  .style61,
  .style63 {
    margin-left: 38px
  }
  .style57,
  .style59,
  .style61 {
    margin-left: 37px
  }
  .style57,
  .style59 {
    margin-left: 31px
  }
  .style55,
  .style56 {
    text-align: center;
    font-family: georgia,serif;
    align-self: center
  }
  .style56 {
    height: 24px;
    color: #fff;
    font-size: 1.48em;
    margin-top: 153px
  }
  .style55 {
    color: #333;
    font-size: 1.24em;
    line-height: 32px;
    font-style: italic;
    margin-top: 170px;
    width: 698px
  }
  .image0row6 {
    display: flex;
    margin-top: 127px;
    width: 637px;
    height: 11px;
    align-items: stretch;
    align-self: center;
    justify-content: space-between
  }
  .style45,
  .style48,
  .style51,
  .style54 {
    color: #fff;
    text-align: center;
    font-family: georgia,serif;
    font-size: .8em
  }
  .image0row7 {
    display: flex;
    margin-left: 26px;
    margin-top: 64px;
    width: 684px;
    height: 11px;
    align-items: stretch;
    justify-content: space-between
  }
  .style44,
  .style47,
  .style50,
  .style53 {
    color: #7c9c37;
    font-family: georgia,serif;
    font-size: .8em
  }
  .image0row8 {
    display: flex;
    margin-top: 15px;
    width: 712px;
    height: 39px;
    align-items: stretch;
    align-self: center;
    justify-content: space-between
  }
  .style43,
  .style46,
  .style49,
  .style52 {
    color: #666;
    font-family: georgia,serif;
    font-size: .52em;
    line-height: 17px;
    width: 147px
  }
  .image0row9 {
    display: flex;
    margin-top: 93px;
    width: 737px;
    height: 14px;
    align-items: stretch;
    align-self: center
  }
  .style27,
  .style28,
  .style41,
  .style42 {
    color: #666;
    font-family: georgia,serif;
    font-size: .8em;
    margin-left: 0
  }
  .style27,
  .style28,
  .style41 {
    color: #7b9b37;
    font-size: .6em;
    margin-left: 181px
  }
  .style27,
  .style28 {
    color: #666;
    font-size: .8em;
    margin-left: 15px
  }
  .style27 {
    color: #7b9b37;
    font-size: .6em;
    margin-left: 181px
  }
  .image0row10 {
    position: relative;
    display: flex;
    margin-left: 23px;
    margin-top: 24px;
    width: 338px;
    height: 32px
  }
  .style40 {
    color: #fff;
    text-align: center;
    font-family: georgia,serif;
    font-size: .52em;
    line-height: 15px;
    position: relative;
    margin-left: 0;
    width: 22px;
    flex-shrink: 0
  }
  .style39 {
    color: #7c9c37;
    font-size: .64em;
    font-weight: 500;
    margin-left: 19px;
    height: 8px
  }
  .style36,
  .style37,
  .style39 {
    font-family: georgia,serif;
    flex-shrink: 0
  }
  .style37 {
    text-align: center;
    line-height: 15px;
    position: relative;
    width: 22px;
    color: #fff;
    font-size: .52em;
    margin-left: 188px
  }
  .style36 {
    color: #7c9c37;
    font-size: .64em;
    font-weight: 500;
    margin-left: 19px;
    height: 8px
  }
  .image0row11 {
    position: relative;
    display: flex;
    margin-left: 65px;
    margin-top: 0;
    width: 622px;
    height: 74px
  }
  .style38 {
    color: #666;
    font-size: .6em;
    line-height: 19px;
    margin-left: 0;
    width: 118px;
    align-self: stretch
  }
  .style23,
  .style26,
  .style35,
  .style38 {
    font-family: georgia,serif;
    flex-shrink: 0
  }
  .style35 {
    line-height: 19px;
    width: 118px;
    align-self: stretch;
    color: #666;
    font-size: .6em;
    margin-left: 70px
  }
  .style23,
  .style26 {
    color: #fff;
    font-size: 5.5600000000000005em;
    font-weight: 500;
    position: relative;
    margin-left: 90px;
    margin-top: 34px;
    height: 72px
  }
  .style23 {
    margin-left: 150px
  }
  .image0row12 {
    position: relative;
    display: flex;
    margin-left: 23px;
    margin-top: 23px;
    width: 338px;
    height: 32px
  }
  .style34 {
    color: #fff;
    text-align: center;
    font-family: georgia,serif;
    font-size: .52em;
    line-height: 15px;
    position: relative;
    margin-left: 0;
    width: 22px;
    flex-shrink: 0
  }
  .style33 {
    color: #7c9c37;
    font-size: .64em;
    font-weight: 500;
    margin-left: 19px;
    height: 8px
  }
  .style30,
  .style31,
  .style33 {
    font-family: georgia,serif;
    flex-shrink: 0
  }
  .style31 {
    text-align: center;
    line-height: 15px;
    position: relative;
    width: 22px;
    color: #fff;
    font-size: .52em;
    margin-left: 188px
  }
  .style30 {
    color: #7c9c37;
    font-size: .64em;
    font-weight: 500;
    margin-left: 19px;
    height: 8px
  }
  .image0row13 {
    position: relative;
    display: flex;
    margin-left: 65px;
    margin-top: 0;
    width: 598px;
    height: 74px;
    align-items: flex-end
  }
  .style29,
  .style32 {
    color: #666;
    font-family: georgia,serif;
    font-size: .6em;
    line-height: 19px;
    margin-left: 0;
    width: 118px
  }
  .style29 {
    margin-left: 70px
  }
  .image0row13column2 {
    display: flex;
    margin-left: 23px;
    width: 81px;
    height: 27px;
    flex-direction: column
  }
  .style24,
  .style25 {
    font-family: georgia,serif;
    font-size: .6em;
    height: 8px
  }
  .style25 {
    font-weight: 500;
    color: #666;
    margin-top: 0
  }
  .style24 {
    color: #7b9b37;
    margin-top: 10px
  }
  .image0row13column3 {
    display: flex;
    margin-left: 107px;
    width: 81px;
    height: 27px;
    flex-direction: column
  }
  .style21,
  .style22 {
    font-family: georgia,serif;
    font-size: .6em;
    height: 8px
  }
  .style22 {
    font-weight: 500;
    color: #666;
    margin-top: 0
  }
  .style21 {
    color: #7b9b37;
    margin-top: 10px
  }
  .image0row14 {
    display: flex;
    margin-left: 15px;
    margin-top: 65px;
    width: 632px;
    height: 7px;
    align-items: stretch
  }
  .style13,
  .style16,
  .style20,
  .style8 {
    color: #666;
    font-family: georgia,serif;
    font-size: .52em;
    font-weight: 500;
    margin-left: 0
  }
  .style13,
  .style16,
  .style8 {
    margin-left: 135px
  }
  .style13,
  .style8 {
    margin-left: 125px
  }
  .style8 {
    margin-left: 102px
  }
  .image0row15 {
    display: flex;
    margin-left: 15px;
    margin-top: 18px;
    width: 709px;
    height: 177px
  }
  .style19 {
    color: #f8f8f8;
    font-family: georgia,serif;
    font-size: .72em;
    font-weight: 500;
    margin-left: 56px;
    margin-top: 34px;
    height: 10px
  }
  .image0row15column0 {
    display: flex;
    margin-left: 0;
    width: 158px;
    height: 146px;
    align-self: flex-end;
    flex-direction: column
  }
  .style18 {
    color: #666;
    line-height: 17px;
    margin-top: 58px;
    width: 100%
  }
  .style14,
  .style15,
  .style17,
  .style18 {
    font-family: georgia,serif;
    font-size: .52em
  }
  .style17 {
    margin-top: 11px;
    height: 8px;
    color: #7c9c37
  }
  .style14,
  .style15 {
    color: #666;
    line-height: 20px;
    margin-left: 30px;
    width: 4px;
    align-self: stretch
  }
  .style14 {
    color: #7c9c37;
    margin-left: 8px;
    width: 128px
  }
  .image0row15column3 {
    display: flex;
    margin-left: 49px;
    width: 169px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style12 {
    color: #666;
    font-family: georgia,serif;
    font-size: .64em;
    font-weight: 500;
    line-height: 18px;
    margin-top: 0;
    width: 100%
  }
  .style11 {
    color: #7c9c37;
    font-size: .52em;
    margin-top: 7px;
    height: 8px
  }
  .style10,
  .style11,
  .style9 {
    font-family: georgia,serif
  }
  .style10 {
    font-weight: 500;
    line-height: 18px;
    width: 100%;
    color: #666;
    font-size: .64em;
    margin-top: 19px
  }
  .style9 {
    color: #7c9c37;
    font-size: .52em;
    margin-top: 7px;
    height: 8px
  }
  .image0row15column4 {
    display: flex;
    margin-left: 19px;
    width: 145px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style6,
  .style7 {
    color: #666;
    font-size: .52em
  }
  .style7 {
    line-height: 17px;
    width: 100%;
    align-self: stretch;
    font-family: zurichbt,serif;
    margin-top: 0
  }
  .style6 {
    font-family: georgia,serif;
    font-weight: 500;
    margin-top: 33px;
    height: 7px
  }
  .style3,
  .style4,
  .style5 {
    color: #807d77;
    font-family: arial,serif;
    font-size: .6em;
    font-weight: 700;
    margin-left: 8px;
    margin-top: 27px;
    height: 8px
  }
  .style3,
  .style4 {
    margin-top: 24px
  }
  .style3 {
    color: #fff;
    font-family: georgia,serif;
    font-weight: 500
  }
  .image0row16 {
    display: flex;
    margin-top: 49px;
    width: 737px;
    height: 10px;
    align-items: stretch;
    align-self: center
  }
  .style1,
  .style2 {
    color: #666;
    font-family: georgia,serif;
    font-size: .52em;
    margin-left: 0
  }
  .style1 {
    margin-left: 372px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjiev2rw.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 1727px;
    flex-direction: column
  }
  .style71 {
    color: #696969;
    font-family: zurichbt,serif;
    font-size: .6229166666666667em;
    margin-left: 18px;
    margin-top: 12px;
    height: 12px
  }
  .style70 {
    color: #fff;
    font-family: georgia,serif;
    font-size: 1.8687500000000001em;
    margin-left: 17px;
    margin-top: 29px;
    height: 24px
  }
  .image0row2 {
    display: flex;
    margin-left: 317px;
    margin-top: 0;
    width: 584px;
    height: 8px;
    align-items: stretch
  }
  .style58,
  .style60,
  .style62,
  .style64,
  .style66,
  .style68 {
    color: #7c9c37;
    font-family: georgia,serif;
    font-size: .6229166666666667em;
    margin-left: 0
  }
  .style58,
  .style60,
  .style62,
  .style64,
  .style66 {
    color: #fff;
    margin-left: 38px
  }
  .style58 {
    margin-left: 50px
  }
  .image0row3 {
    display: flex;
    margin-top: 4px;
    width: 879px;
    height: 12px;
    align-items: stretch;
    align-self: center
  }
  .style69 {
    color: #fff;
    font-family: georgia,serif;
    font-size: .6229166666666667em;
    margin-left: 0
  }
  .style57,
  .style59,
  .style61,
  .style63,
  .style65,
  .style67 {
    color: #ccc;
    font-family: arialmt,serif;
    font-size: .6229166666666667em;
    margin-left: 156px
  }
  .style57,
  .style59,
  .style61,
  .style63,
  .style65 {
    margin-left: 40px
  }
  .style57,
  .style59,
  .style61,
  .style63 {
    margin-left: 46px
  }
  .style57,
  .style59,
  .style61 {
    margin-left: 44px
  }
  .style57,
  .style59 {
    margin-left: 38px
  }
  .style55,
  .style56 {
    text-align: center;
    font-family: georgia,serif;
    align-self: center
  }
  .style56 {
    height: 29px;
    color: #fff;
    font-size: 1.7729166666666667em;
    margin-top: 183px
  }
  .style55 {
    color: #333;
    font-size: 1.4854166666666668em;
    line-height: 38px;
    font-style: italic;
    margin-top: 204px;
    width: 836px
  }
  .image0row6 {
    display: flex;
    margin-top: 153px;
    width: 764px;
    height: 13px;
    align-items: stretch;
    align-self: center;
    justify-content: space-between
  }
  .style45,
  .style48,
  .style51,
  .style54 {
    color: #fff;
    text-align: center;
    font-family: georgia,serif;
    font-size: .9583333333333334em
  }
  .image0row7 {
    display: flex;
    margin-left: 31px;
    margin-top: 77px;
    width: 819px;
    height: 13px;
    align-items: stretch;
    justify-content: space-between
  }
  .style44,
  .style47,
  .style50,
  .style53 {
    color: #7c9c37;
    font-family: georgia,serif;
    font-size: .9583333333333334em
  }
  .image0row8 {
    display: flex;
    margin-top: 18px;
    width: 853px;
    height: 47px;
    align-items: stretch;
    align-self: center;
    justify-content: space-between
  }
  .style43,
  .style46,
  .style49,
  .style52 {
    color: #666;
    font-family: georgia,serif;
    font-size: .6229166666666667em;
    line-height: 20px;
    width: 176px
  }
  .image0row9 {
    display: flex;
    margin-top: 112px;
    width: 883px;
    height: 17px;
    align-items: stretch;
    align-self: center
  }
  .style27,
  .style28,
  .style41,
  .style42 {
    color: #666;
    font-family: georgia,serif;
    font-size: .9583333333333334em;
    margin-left: 0
  }
  .style27,
  .style28,
  .style41 {
    color: #7b9b37;
    font-size: .71875em;
    margin-left: 217px
  }
  .style27,
  .style28 {
    color: #666;
    font-size: .9583333333333334em;
    margin-left: 18px
  }
  .style27 {
    color: #7b9b37;
    font-size: .71875em;
    margin-left: 217px
  }
  .image0row10 {
    position: relative;
    display: flex;
    margin-left: 28px;
    margin-top: 28px;
    width: 405px;
    height: 38px
  }
  .style40 {
    color: #fff;
    text-align: center;
    font-family: georgia,serif;
    font-size: .6229166666666667em;
    line-height: 18px;
    position: relative;
    margin-left: 0;
    width: 26px;
    flex-shrink: 0
  }
  .style39 {
    color: #7c9c37;
    font-size: .7666666666666667em;
    font-weight: 500;
    margin-left: 23px;
    height: 10px
  }
  .style36,
  .style37,
  .style39 {
    font-family: georgia,serif;
    flex-shrink: 0
  }
  .style37 {
    text-align: center;
    line-height: 18px;
    position: relative;
    width: 26px;
    color: #fff;
    font-size: .6229166666666667em;
    margin-left: 225px
  }
  .style36 {
    color: #7c9c37;
    font-size: .7666666666666667em;
    font-weight: 500;
    margin-left: 23px;
    height: 10px
  }
  .image0row11 {
    position: relative;
    display: flex;
    margin-left: 78px;
    margin-top: 0;
    width: 745px;
    height: 89px
  }
  .style38 {
    color: #666;
    font-size: .71875em;
    line-height: 22px;
    margin-left: 0;
    width: 141px;
    align-self: stretch
  }
  .style23,
  .style26,
  .style35,
  .style38 {
    font-family: georgia,serif;
    flex-shrink: 0
  }
  .style35 {
    line-height: 22px;
    width: 141px;
    align-self: stretch;
    color: #666;
    font-size: .71875em;
    margin-left: 84px
  }
  .style23,
  .style26 {
    color: #fff;
    font-size: 6.660416666666667em;
    font-weight: 500;
    position: relative;
    margin-left: 107px;
    margin-top: 41px;
    height: 87px
  }
  .style23 {
    margin-left: 179px
  }
  .image0row12 {
    position: relative;
    display: flex;
    margin-left: 28px;
    margin-top: 28px;
    width: 405px;
    height: 38px
  }
  .style34 {
    color: #fff;
    text-align: center;
    font-family: georgia,serif;
    font-size: .6229166666666667em;
    line-height: 18px;
    position: relative;
    margin-left: 0;
    width: 26px;
    flex-shrink: 0
  }
  .style33 {
    color: #7c9c37;
    font-size: .7666666666666667em;
    font-weight: 500;
    margin-left: 23px;
    height: 10px
  }
  .style30,
  .style31,
  .style33 {
    font-family: georgia,serif;
    flex-shrink: 0
  }
  .style31 {
    text-align: center;
    line-height: 18px;
    position: relative;
    width: 26px;
    color: #fff;
    font-size: .6229166666666667em;
    margin-left: 225px
  }
  .style30 {
    color: #7c9c37;
    font-size: .7666666666666667em;
    font-weight: 500;
    margin-left: 23px;
    height: 10px
  }
  .image0row13 {
    position: relative;
    display: flex;
    margin-left: 78px;
    margin-top: 0;
    width: 717px;
    height: 89px;
    align-items: flex-end
  }
  .style29,
  .style32 {
    color: #666;
    font-family: georgia,serif;
    font-size: .71875em;
    line-height: 22px;
    margin-left: 0;
    width: 141px
  }
  .style29 {
    margin-left: 84px
  }
  .image0row13column2 {
    display: flex;
    margin-left: 28px;
    width: 97px;
    height: 32px;
    flex-direction: column
  }
  .style24,
  .style25 {
    font-family: georgia,serif;
    font-size: .71875em;
    height: 10px
  }
  .style25 {
    font-weight: 500;
    color: #666;
    margin-top: 0
  }
  .style24 {
    color: #7b9b37;
    margin-top: 12px
  }
  .image0row13column3 {
    display: flex;
    margin-left: 128px;
    width: 97px;
    height: 32px;
    flex-direction: column
  }
  .style21,
  .style22 {
    font-family: georgia,serif;
    font-size: .71875em;
    height: 10px
  }
  .style22 {
    font-weight: 500;
    color: #666;
    margin-top: 0
  }
  .style21 {
    color: #7b9b37;
    margin-top: 12px
  }
  .image0row14 {
    display: flex;
    margin-left: 18px;
    margin-top: 77px;
    width: 757px;
    height: 8px;
    align-items: stretch
  }
  .style13,
  .style16,
  .style20,
  .style8 {
    color: #666;
    font-family: georgia,serif;
    font-size: .6229166666666667em;
    font-weight: 500;
    margin-left: 0
  }
  .style13,
  .style16,
  .style8 {
    margin-left: 162px
  }
  .style13,
  .style8 {
    margin-left: 150px
  }
  .style8 {
    margin-left: 123px
  }
  .image0row15 {
    display: flex;
    margin-left: 18px;
    margin-top: 21px;
    width: 849px;
    height: 212px
  }
  .style19 {
    color: #f8f8f8;
    font-family: georgia,serif;
    font-size: .8625em;
    font-weight: 500;
    margin-left: 67px;
    margin-top: 41px;
    height: 12px
  }
  .image0row15column0 {
    display: flex;
    margin-left: 0;
    width: 189px;
    height: 175px;
    align-self: flex-end;
    flex-direction: column
  }
  .style18 {
    color: #666;
    line-height: 20px;
    margin-top: 70px;
    width: 100%
  }
  .style14,
  .style15,
  .style17,
  .style18 {
    font-family: georgia,serif;
    font-size: .6229166666666667em
  }
  .style17 {
    margin-top: 13px;
    height: 9px;
    color: #7c9c37
  }
  .style14,
  .style15 {
    color: #666;
    line-height: 24px;
    margin-left: 36px;
    width: 5px;
    align-self: stretch
  }
  .style14 {
    color: #7c9c37;
    margin-left: 9px;
    width: 153px
  }
  .image0row15column3 {
    display: flex;
    margin-left: 58px;
    width: 202px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style12 {
    color: #666;
    font-family: georgia,serif;
    font-size: .7666666666666667em;
    font-weight: 500;
    line-height: 21px;
    margin-top: 0;
    width: 100%
  }
  .style11 {
    color: #7c9c37;
    font-size: .6229166666666667em;
    margin-top: 8px;
    height: 9px
  }
  .style10,
  .style11,
  .style9 {
    font-family: georgia,serif
  }
  .style10 {
    font-weight: 500;
    line-height: 21px;
    width: 100%;
    color: #666;
    font-size: .7666666666666667em;
    margin-top: 23px
  }
  .style9 {
    color: #7c9c37;
    font-size: .6229166666666667em;
    margin-top: 8px;
    height: 9px
  }
  .image0row15column4 {
    display: flex;
    margin-left: 23px;
    width: 173px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style6,
  .style7 {
    color: #666;
    font-size: .6229166666666667em
  }
  .style7 {
    line-height: 20px;
    width: 100%;
    align-self: stretch;
    font-family: zurichbt,serif;
    margin-top: 0
  }
  .style6 {
    font-family: georgia,serif;
    font-weight: 500;
    margin-top: 40px;
    height: 8px
  }
  .style3,
  .style4,
  .style5 {
    color: #807d77;
    font-family: arial,serif;
    font-size: .71875em;
    font-weight: 700;
    margin-left: 9px;
    margin-top: 32px;
    height: 9px
  }
  .style3,
  .style4 {
    margin-top: 28px;
    height: 10px
  }
  .style3 {
    color: #fff;
    font-family: georgia,serif;
    font-weight: 500;
    margin-left: 10px;
    height: 9px
  }
  .image0row16 {
    display: flex;
    margin-top: 59px;
    width: 883px;
    height: 12px;
    align-items: stretch;
    align-self: center
  }
  .style1,
  .style2 {
    color: #666;
    font-family: georgia,serif;
    font-size: .6229166666666667em;
    margin-left: 0
  }
  .style1 {
    margin-left: 445px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjiev2rw.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 2252px;
    flex-direction: column
  }
  .style71 {
    color: #696969;
    font-family: zurichbt,serif;
    font-size: .8125em;
    margin-left: 24px;
    margin-top: 16px;
    height: 16px
  }
  .style70 {
    color: #fff;
    font-family: georgia,serif;
    font-size: 2.4375em;
    margin-left: 22px;
    margin-top: 38px;
    height: 31px
  }
  .image0row2 {
    display: flex;
    margin-left: 414px;
    margin-top: 0;
    width: 762px;
    height: 11px;
    align-items: stretch
  }
  .style58,
  .style60,
  .style62,
  .style64,
  .style66,
  .style68 {
    color: #7c9c37;
    font-family: georgia,serif;
    font-size: .8125em;
    margin-left: 0
  }
  .style58,
  .style60,
  .style62,
  .style64,
  .style66 {
    color: #fff;
    margin-left: 49px
  }
  .style58,
  .style60 {
    margin-left: 50px
  }
  .style58 {
    margin-left: 65px
  }
  .image0row3 {
    display: flex;
    margin-top: 5px;
    width: 1147px;
    height: 16px;
    align-items: stretch;
    align-self: center
  }
  .style69 {
    color: #fff;
    font-family: georgia,serif;
    font-size: .8125em;
    margin-left: 0
  }
  .style57,
  .style59,
  .style61,
  .style63,
  .style65,
  .style67 {
    color: #ccc;
    font-family: arialmt,serif;
    font-size: .8125em;
    margin-left: 203px
  }
  .style57,
  .style59,
  .style61,
  .style63,
  .style65 {
    margin-left: 52px
  }
  .style57,
  .style59,
  .style61,
  .style63 {
    margin-left: 60px
  }
  .style57,
  .style59,
  .style61 {
    margin-left: 58px
  }
  .style57,
  .style59 {
    margin-left: 49px
  }
  .style55,
  .style56 {
    text-align: center;
    font-family: georgia,serif;
    align-self: center
  }
  .style56 {
    height: 38px;
    color: #fff;
    font-size: 2.3125em;
    margin-top: 239px
  }
  .style55 {
    color: #333;
    font-size: 1.9375em;
    line-height: 50px;
    font-style: italic;
    margin-top: 266px;
    width: 1090px
  }
  .image0row6 {
    display: flex;
    margin-top: 199px;
    width: 996px;
    height: 17px;
    align-items: stretch;
    align-self: center;
    justify-content: space-between
  }
  .style45,
  .style48,
  .style51,
  .style54 {
    color: #fff;
    text-align: center;
    font-family: georgia,serif;
    font-size: 1.25em
  }
  .image0row7 {
    display: flex;
    margin-left: 41px;
    margin-top: 100px;
    width: 1068px;
    height: 17px;
    align-items: stretch;
    justify-content: space-between
  }
  .style44,
  .style47,
  .style50,
  .style53 {
    color: #7c9c37;
    font-family: georgia,serif;
    font-size: 1.25em
  }
  .image0row8 {
    display: flex;
    margin-top: 24px;
    width: 1112px;
    height: 61px;
    align-items: stretch;
    align-self: center;
    justify-content: space-between
  }
  .style43,
  .style46,
  .style49,
  .style52 {
    color: #666;
    font-family: georgia,serif;
    font-size: .8125em;
    line-height: 26px;
    width: 230px
  }
  .image0row9 {
    display: flex;
    margin-top: 146px;
    width: 1152px;
    height: 22px;
    align-items: stretch;
    align-self: center
  }
  .style27,
  .style28,
  .style41,
  .style42 {
    color: #666;
    font-family: georgia,serif;
    font-size: 1.25em;
    margin-left: 0
  }
  .style27,
  .style28,
  .style41 {
    color: #7b9b37;
    font-size: .9375em;
    margin-left: 283px
  }
  .style27,
  .style28 {
    color: #666;
    font-size: 1.25em;
    margin-left: 24px
  }
  .style27 {
    color: #7b9b37;
    font-size: .9375em;
    margin-left: 283px
  }
  .image0row10 {
    position: relative;
    display: flex;
    margin-left: 36px;
    margin-top: 37px;
    width: 528px;
    height: 50px
  }
  .style40 {
    color: #fff;
    text-align: center;
    font-family: georgia,serif;
    font-size: .8125em;
    line-height: 23px;
    position: relative;
    margin-left: 0;
    width: 34px;
    flex-shrink: 0
  }
  .style39 {
    color: #7c9c37;
    font-size: 1em;
    font-weight: 500;
    margin-left: 30px;
    height: 13px
  }
  .style36,
  .style37,
  .style39 {
    font-family: georgia,serif;
    flex-shrink: 0
  }
  .style37 {
    text-align: center;
    line-height: 23px;
    position: relative;
    width: 34px;
    color: #fff;
    font-size: .8125em;
    margin-left: 294px
  }
  .style36 {
    color: #7c9c37;
    font-size: 1em;
    font-weight: 500;
    margin-left: 30px;
    height: 13px
  }
  .image0row11 {
    position: relative;
    display: flex;
    margin-left: 102px;
    margin-top: 0;
    width: 972px;
    height: 116px
  }
  .style38 {
    color: #666;
    font-size: .9375em;
    line-height: 29px;
    margin-left: 0;
    width: 184px;
    align-self: stretch
  }
  .style23,
  .style26,
  .style35,
  .style38 {
    font-family: georgia,serif;
    flex-shrink: 0
  }
  .style35 {
    line-height: 29px;
    width: 184px;
    align-self: stretch;
    color: #666;
    font-size: .9375em;
    margin-left: 110px
  }
  .style23,
  .style26 {
    color: #fff;
    font-size: 8.6875em;
    font-weight: 500;
    position: relative;
    margin-left: 140px;
    margin-top: 53px;
    height: 113px
  }
  .style23 {
    margin-left: 234px
  }
  .image0row12 {
    position: relative;
    display: flex;
    margin-left: 36px;
    margin-top: 36px;
    width: 528px;
    height: 50px
  }
  .style34 {
    color: #fff;
    text-align: center;
    font-family: georgia,serif;
    font-size: .8125em;
    line-height: 23px;
    position: relative;
    margin-left: 0;
    width: 34px;
    flex-shrink: 0
  }
  .style33 {
    color: #7c9c37;
    font-size: 1em;
    font-weight: 500;
    margin-left: 30px;
    height: 13px
  }
  .style30,
  .style31,
  .style33 {
    font-family: georgia,serif;
    flex-shrink: 0
  }
  .style31 {
    text-align: center;
    line-height: 23px;
    position: relative;
    width: 34px;
    color: #fff;
    font-size: .8125em;
    margin-left: 294px
  }
  .style30 {
    color: #7c9c37;
    font-size: 1em;
    font-weight: 500;
    margin-left: 30px;
    height: 13px
  }
  .image0row13 {
    position: relative;
    display: flex;
    margin-left: 102px;
    margin-top: 0;
    width: 935px;
    height: 116px;
    align-items: flex-end
  }
  .style29,
  .style32 {
    color: #666;
    font-family: georgia,serif;
    font-size: .9375em;
    line-height: 29px;
    margin-left: 0;
    width: 184px
  }
  .style29 {
    margin-left: 110px
  }
  .image0row13column2 {
    display: flex;
    margin-left: 36px;
    width: 127px;
    height: 42px;
    flex-direction: column
  }
  .style24,
  .style25 {
    font-family: georgia,serif;
    font-size: .9375em;
    height: 13px
  }
  .style25 {
    font-weight: 500;
    color: #666;
    margin-top: 0
  }
  .style24 {
    color: #7b9b37;
    margin-top: 16px
  }
  .image0row13column3 {
    display: flex;
    margin-left: 167px;
    width: 127px;
    height: 42px;
    flex-direction: column
  }
  .style21,
  .style22 {
    font-family: georgia,serif;
    font-size: .9375em;
    height: 13px
  }
  .style22 {
    font-weight: 500;
    color: #666;
    margin-top: 0
  }
  .style21 {
    color: #7b9b37;
    margin-top: 16px
  }
  .image0row14 {
    display: flex;
    margin-left: 24px;
    margin-top: 101px;
    width: 988px;
    height: 11px;
    align-items: stretch
  }
  .style13,
  .style16,
  .style20,
  .style8 {
    color: #666;
    font-family: georgia,serif;
    font-size: .8125em;
    font-weight: 500;
    margin-left: 0
  }
  .style13,
  .style16,
  .style8 {
    margin-left: 211px
  }
  .style13,
  .style8 {
    margin-left: 196px
  }
  .style8 {
    margin-left: 160px
  }
  .image0row15 {
    display: flex;
    margin-left: 24px;
    margin-top: 28px;
    width: 1108px;
    height: 277px
  }
  .style19 {
    color: #f8f8f8;
    font-family: georgia,serif;
    font-size: 1.125em;
    font-weight: 500;
    margin-left: 88px;
    margin-top: 53px;
    height: 16px
  }
  .image0row15column0 {
    display: flex;
    margin-left: 0;
    width: 247px;
    height: 228px;
    align-self: flex-end;
    flex-direction: column
  }
  .style18 {
    color: #666;
    line-height: 26px;
    margin-top: 91px;
    width: 100%
  }
  .style14,
  .style15,
  .style17,
  .style18 {
    font-family: georgia,serif;
    font-size: .8125em
  }
  .style17 {
    margin-top: 17px;
    height: 12px;
    color: #7c9c37
  }
  .style14,
  .style15 {
    color: #666;
    line-height: 31px;
    margin-left: 47px;
    width: 6px;
    align-self: stretch
  }
  .style14 {
    color: #7c9c37;
    margin-left: 12px;
    width: 200px
  }
  .image0row15column3 {
    display: flex;
    margin-left: 76px;
    width: 264px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style12 {
    color: #666;
    font-family: georgia,serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 28px;
    margin-top: 0;
    width: 100%
  }
  .style11 {
    color: #7c9c37;
    font-size: .8125em;
    margin-top: 11px;
    height: 12px
  }
  .style10,
  .style11,
  .style9 {
    font-family: georgia,serif
  }
  .style10 {
    font-weight: 500;
    line-height: 28px;
    width: 100%;
    color: #666;
    font-size: 1em;
    margin-top: 30px
  }
  .style9 {
    color: #7c9c37;
    font-size: .8125em;
    margin-top: 11px;
    height: 12px
  }
  .image0row15column4 {
    display: flex;
    margin-left: 30px;
    width: 226px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style6,
  .style7 {
    color: #666;
    font-size: .8125em
  }
  .style7 {
    line-height: 26px;
    width: 100%;
    align-self: stretch;
    font-family: zurichbt,serif;
    margin-top: 0
  }
  .style6 {
    font-family: georgia,serif;
    font-weight: 500;
    margin-top: 52px;
    height: 11px
  }
  .style3,
  .style4,
  .style5 {
    color: #807d77;
    font-family: arial,serif;
    font-size: .9375em;
    font-weight: 700;
    margin-left: 12px;
    margin-top: 42px;
    height: 12px
  }
  .style3,
  .style4 {
    margin-top: 37px;
    height: 13px
  }
  .style3 {
    color: #fff;
    font-family: georgia,serif;
    font-weight: 500;
    margin-left: 13px;
    height: 12px
  }
  .image0row16 {
    display: flex;
    margin-top: 77px;
    width: 1152px;
    height: 16px;
    align-items: stretch;
    align-self: center
  }
  .style1,
  .style2 {
    color: #666;
    font-family: georgia,serif;
    font-size: .8125em;
    margin-left: 0
  }
  .style1 {
    margin-left: 581px
  }
}